GROQ_API_KEY=your_groq_api_key_here
NEWS_API_KEY=your_newsapi_key_here

PDF_1="/path/to/pdf_with_brackets.pdf"
PDF_2="/path/to/pdf_with_brackets.pdf"
PDF_3=/path/to/your/pdf3.pdf
PDF_4=/path/to/your/pdf4.pdf
PDF_5=/path/to/your/pdf5.pdf
PDF_6=/path/to/your/pdf6.pdf
PDF_7=/path/to/your/pdf7.pdf
