yfinance==1.4.1
pandas==2.3.3
numpy==2.4.6
matplotlib==3.10.9
neuralforecast==3.1.9
pytorch-lightning==2.5.6
torch==2.11.0
groq==1.4.0
newsapi-python==0.2.7
chromadb==1.5.9
langchain-community==0.4.2
langchain-text-splitters==1.1.2
sentence-transformers==5.5.1
pypdf==6.13.0
python-dotenv==1.2.2